fastapi
uvicorn
jinja2
python-dotenv
pandas
requests
numpy
torch
transformers
python-multipart
botocore
cement
colorama
pathspec
python-dateutil
requests
setuptools
semantic_version
termcolor
wcwidth
PyYAML
urllib3
packaging
blessed
fabric